1. Web Scraping:
   -beautifulsoup4 
   -requests

2. Armazenar os Dados (Banco de Dados):
   -sqlalchemy

3. Criar uma API (FastAPI ou Flask):
   -fastapi 
   -uvicorn

4. Esperado:
   -Tratar com HTTPException

5. Criar testes unitários para API:
   -fastapi.testclient

